

<div class="blob-cont" id="blob">
    <div class="one blob"></div>
    <div class="two blob"></div>
    <div class="three blob"></div>
  </div>
</div>

<style>
.blob-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -20;
  height: 500px;
  width: 500px;
  position: fixed;
  right: 5em;
  /* pointer-events: none; */
}


.blob {
  border-radius: 100px;
  filter: blur(80px);
  position: absolute;
  opacity: .5;
}

.one {
  background-color: var(--primary-dark);
  position: absolute;
  top: 200px;
  left: 100px;
  height: 200px;
  width: 200px;
  
  animation: one 8s infinite ease;
}

.two {
  background-color: var(--secondary-dark);
  position: absolute;
  top: 80px;
  right: -20px;
  height: 200px;
  width: 250px;
  
  animation: two 8s infinite ease;
}

.three {
  background-color: var(--accent-dark);
  position: absolute;
  right: 0;
  top: 300px;
  height: 250px;
  width: 200px;
  
  animation: three 8s infinite linear;
}

@keyframes one {
  0% {top: 200px; left: 100px; transform: scale(1);}
  30% {top: 300px; left: 150px; transform: scale(1.2);}
  60% {top: 100px; left: 200px; transform: scale(1.3);}
  100% {top: 200px; left: 100px; transform: scale(1);}
}

@keyframes two {
  0% {top: 80px; right: -20px; transform: scale(1.2);}
  30% {top: 300px; right: -20px;transform: scale(1);}
  60% {top: 200px; right: 100px;transform: scale(1);}
  100% {top: 80px; right: -20px; transform: scale(1.2);}
}

@keyframes three {
  0% {top: 250px; right: 0px; transform: scale(1);}
  30% {top: 150px; right: 150px;transform: scale(1.4);}
  60% {top: 250px; right: 100px;transform: scale(1);}
  100% {top: 250px; right: 0px; transform: scale(1);}
}
</style>

<!-- <script>
const blob = document.getElementById("blob");

window.onpointermove = event => { 
  const { clientX, clientY } = event;
  
  blob.animate({
    left: `${clientX}px`,
    top: `${clientY}px`
  }, { duration: 5000, fill: "forwards" });
}

</script> -->